div.sidebar > div.text-light .row div.col-sm-5,
div.sidebar > div.text-light .row div.col-sm
{
    text-align: left;
}
div#patient-info-form .row {
    margin: 3px 0;
}

div.sidebar .field input,
div.sidebar .field textarea {
    width: 155px;
    padding: 0 auto;
    margin: 0 auto;
}
div.sidebar .field textarea {
    resize: none;
}
div.sidebar .row .value {
    margin: 3px 0;
}
.button-control input {
    width: 50px;
    margin: 0;
}


div.sidebar .row.no-gutters .value ul {
    padding-left: 3px;
}

div.sidebar #medications .field input {
    width: 100px;
}

.button-control input.plus-minus,
div.sidebar #medications .field input.plus-minus {
    width: 25px;
}





#ventilator-sidebar input,
#iv-sidebar input{
    width: 155px;
    padding: 0 auto;
    margin: 0 auto;
}

.sidebar-header{
    font-weight: bold;
    color: black;
    background-color: #f5ca5c;
    text-align: center;
    padding: 4px;
}

.sidebar-content{
    margin: 20px;
    text-align: center;  
}

.sidebar-content .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#sideBarErrorMsg, .sideBarErrorMsg{
    color: red;
}

#iv-sidebar, 
.sidebar {
    display: none;
    z-index: -1;
    position: absolute;
    width: 0px;
    height: 100vh;
    text-align: center;
    top: 63px;
    left: 0;
    background: #343a40;
    color: #fff;
    transition: all 0.0s;
    overflow-y: hidden;
    /*padding: 10px;*/
}

#main-content {
    height: 0;
    width: 100%;
    transition: all 0.0s;
    z-index: -5;
}

#ecg-image {
    height: 640px;
    width: 768px;
}

#patient-info.sidebar {
    padding: 0;
}

#x-ray-img{
    border-style: outset;
    border-color: darkgrey;
    border-width: 5px;
}

@media only screen and (max-width: 570px) {

}
