
.sidebar-header{
    font-weight: bold;
    color: white;
    background-color: rgba(65,105,225, 0.9);
    text-align: center;
    padding: 4px;
}

  .sidebar-content{
    margin: 20px;   
    }

  .sidebar-content .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }

  #iv-sidebar {
    z-index: 1;
    position: fixed;
    width: 0px;
    height: 100vh;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(33, 37, 41);
    color: #fff;
    transition: all 0.0s;
    overflow-y: hidden;
  }

  #main-content{
    width: 100%;
    position: relative;
  }

  
